@import '../../styles/colors';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100;
    height: 15vh;
    background: linear-gradient( $blue, white);

    &__logo {
        margin: 10px;
        margin-left: 30px;
        width: 70px;
        height: 70px;
    }
}

.movieIconSelected, .tvIconSelected {
    cursor: pointer;
    margin: 30px;
    color: $blue;
}

.tvIcon, .movieIcon {
    cursor: pointer;
    margin: 30px;
    color: black;
    :hover {
        color:$yellow;
    }
}
