@import '../../styles/colors';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    background: linear-gradient( #F4C95D, white);

    &__logo {
        margin: 10px;
        margin-left: 30px;
        width: 70px;
        height: 70px;
    }
}